body {
    
    padding: 0;
    justify-items: center;
   font-family: 'Smythe';
   margin: 0 auto;
   max-height: 1161px;
   width: 600px;
   
} 

/* header */


header {
    background-size: cover;
}

#header-img {
    width: 600px;
    padding: 0;
    margin: 0 auto;
    
}

header, main {
    width: 600px;
    
    left: 0px;
    top: 0px;
    margin: 0 auto;
}

#icons {
    padding: 0px 30px 0px 0px;
    max-height: 89px;
    max-width: 70px;
}

#menu-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#menu-item {
    width: 508px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #DEDEDE;
    border-width: 1.5px;
}

#item-content {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    max-width: 508px;
    max-height: 140px;
}

#add-btn {
    height: 50px;
    width: 50px;
    border-style: solid;
    background: none;
    border-radius: 25px;
    border-width: 2px;
    font-size: 32px;
    color: #3C3C3C;
    border-color: #DEDEDE;
    cursor: pointer;
}

#checkout-title {
    justify-self: center;
}

#checkout-container {
    display: grid;
    width: 508px;
   margin: 0 auto;
   
   /* justify-content: center; */
}

#item-block {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

a {
    padding: 5px;
    font-weight: lighter;
    color: #55555590;
    cursor: pointer;
}

#checkout-items {
    max-height: 319px;
    display: flex;
  flex-direction: column;
  overflow-y: auto;
}


#total-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  border-top: solid #3C3C3C;
}
#order-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.hidden{
    visibility: hidden;
}

#complete-order-btn {
    height: 60px;
    font-weight: bold;
    border: none;
    color: whitesmoke;
    font-family: 'Verdana';
    background-color: #16DB99;
}

#payment-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 524px;
    height: 542px;
    align-items: center;
    justify-content: center;
    background-color: white;
    filter: drop-shadow(black 1rem 1rem 10px)
}


input {
   
    margin-top: 15px; 
    font-family: 'verdana';
    border: 3px solid #DEDEDE;
    padding: 10px;
    width: 475px;
    height: 72px;
    border-radius: 3px;
}

#modal-title {
    padding: 0 0 30px 0;
    font-family: 'Verdana';
}

form {
    display: flex;
    flex-direction: column;
}

#pay-btn {
    height: 71px;
    font-weight: bold;
    margin-top: 30px;
    border: none;
    color: whitesmoke;
    font-family: 'Verdana';
    background-color: #16DB99;
    cursor: pointer;
}

#order-complete-prompt{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    width: 504px;
    color: #065F46;
    background-color: #ECFDF5;
    padding: 30px;
}